<h4 mat-dialog-title>Create New Order</h4>
<form name="createForm">
    <div class="row">
        <div class="col-xl-12">
            <div class="col-xl-6">
                <mat-form-field class="example-full-width mr-2" appearance="fill">
                    <input type="text" placeholder="Username" aria-label="String" matInput [formControl]="usernameControl"
                        [matAutocomplete]="autoUsername">
                    <mat-autocomplete #autoUsername="matAutocomplete">
                        <mat-option *ngFor="let option of filteredUsernameOptions$ | async" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-xl-6">
                <mat-form-field>
                    <mat-label>Ámount</mat-label>
                    <input matInput name="currentAmount" [(ngModel)]="currentAmount" type="number">
                </mat-form-field>
            </div>
        </div>
        <div class="col-xl-12">
            <div mat-dialog-actions align="end">
                <button mat-button (click)="onConfirmClick()">Confirm</button>
                &nbsp;  &nbsp;
                <button mat-button [mat-dialog-close]="true">Cancel</button>
            </div>
        </div>
    </div>
</form>