<h5 mat-dialog-title>You're creating user
</h5>
<div mat-dialog-content>
    <mat-card class="border">
        <div>
            <mat-form-field appearance="fill" class="col-xl-6">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="data.email">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-xl-6">
                <mat-label>Locked</mat-label>
                <mat-select [(ngModel)]="data.locked">
                    <mat-option *ngFor="let option of YesNoOptions;" [value]="option.value">{{option.text}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-xl-6">
                <mat-label>Wallet Address</mat-label>
                <input matInput [(ngModel)]="data.walletAddress">
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-xl-6">
                <mat-label>EmailVerified</mat-label>
                <mat-select [(ngModel)]="data.emailVerified">
                    <mat-option *ngFor="let option of YesNoOptions;" [value]="option.value">{{option.text}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial
        (click)="onOkClick()">Ok</button>
</div>